<div class="card text-center" id="carta">
  <div class="card-header">
    <img src="{{data.equipo.fotoEscudo}}" id="escudo">
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre: {{data.equipo.nombre}}</h5>
    <h5 class="card-title">TLA: {{data.equipo.abreviatura}}</h5>
    <h5 class="card-title">Estadio: {{data.equipo.estadio}}</h5>
    <h5 class="card-title">Direccion: {{data.equipo.direccion}}</h5>
    <h5 class="card-title">Pais: {{data.equipo.pais}}</h5>
    <h5 class="card-title">Fundacion: {{data.equipo.anoFundacion}}</h5>
    <h5 class="card-title">Id: {{data.equipo.numeroId}}</h5>
    <h5 class="card-title">Telefono: {{data.equipo.telefono}}</h5>
    <h5 class="card-title">Sitio Web: {{data.equipo.website}}</h5>
    <a href="/" class="btn btn-dark">Volver a la lista</a>
  </div>
</div>