<div class="card text-center" class="view-card">
  <div class="card-header">
    <img src="{{data.team.fotoEscudo}}" id="escudo" style="width: 100px; height: 100px;">
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre: {{data.team.nombre}}</h5>
    <h5 class="card-title">TLA: {{data.team.abreviatura}}</h5>
    <h5 class="card-title">Estadio: {{data.team.estadio}}</h5>
    <h5 class="card-title">Direccion: {{data.team.direccion}}</h5>
    <h5 class="card-title">Pais: {{data.team.pais}}</h5>
    <h5 class="card-title">Fundacion: {{data.team.anoFundacion}}</h5>
    <h5 class="card-title">Id: {{data.team.numeroId}}</h5>
    <h5 class="card-title">Telefono: {{data.team.telefono}}</h5>
    <h5 class="card-title">Sitio Web: {{data.team.website}}</h5>
    <a href="/club" class="btn btn-dark">Volver a la lista</a>
  </div>
</div>