<div id="container">
    {{#each listaEquipos as |equipo|}}
    <div class="card carta">
        <img src="{{equipo.fotoEscudo}}" class="card-img-top escudoCarta">
        <div class="card-body">
            <h5 class="card-title">{{equipo.nombre}}</h5>
            <div>
                <form class="action-form"method="GET" action="/club/ver-equipo">
                    <input type="hidden" name="id" value="{{equipo.numeroId}}">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                </form>
                <form class="action-form" method="GET" action="/club/editar-equipo">
                    <input type="hidden" name="id" value="{{equipo.numeroId}}">
                    <button type="submit" class="btn btn-warning"><i class="fas fa-pen-square"></i></button>
                </form>
                <form class="action-form" method="GET" action="/club/borrar-equipo">
                    <input type="hidden" name="id" value="{{equipo.numeroId}}">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>


{{!-- <div class="card carta">
    <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg" class="card-img-top escudoCarta">
    <div class="card-body">
        <h5 class="card-title">Arsenal FC</h5>
        <a class="btn btn-primary button" data-target="#modal-informacion" data-toggle="modal">Ver</a>
        <a class="btn btn-warning button" data-target="#modal-editar-equipo" data-toggle="modal">Editar</a>
        <a class="btn btn-danger button">Borrar</a>
    </div>
</div> --}}